@import "../../css/global.css";

/* hero */
.hero {
  padding: 96px 0;
  background-color: #ffe6d2;
}

.hero-inside {
  display: flex;
  /* justify-content: space-between; */
  column-gap: 250px;
  align-items: center;
}

.hero-text {
  width: 625px;

  .hero-subtitle {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #232536;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    color: #232536;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  p {
    opacity: 60%;
    margin-bottom: 40px;
  }

  .btn {
    width: 240px;
  }
}

.hero-links {
  width: 300px;
}

.hero-link-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.hero-link > a {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #232536;
}

.hero-link:nth-child(2) > a {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

/* Facilities */

.facilities-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 96px;
}

.inside-block-text {
  display: flex;
  flex-direction: column;
  width: 630px;

  h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #000000;
  }

  h3 {
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
    color: #232536;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  p {
    opacity: 60%;
  }
}

.bg-color-f9 {
  background-color: #f9f9ff;
}

.bg-color-ec {
  background-color: #ecf8f9;
}

/* Process */

.process {
  background-color: #f9f9ff;
}

.process-container {
  display: flex;
  flex-direction: column;
  row-gap: 68px;
  padding: 96px 50px;
}

.process-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.process-header-left {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 60%;

  span {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
  }

  h2 {
    font-size: 48px;
    line-height: 58px;
    color: #232536;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    font-weight: 500;
    opacity: 87%;
    width: 85%;
  }
}

.process-header-right {
  margin-top: 5px;
}

/* Process bottom */

.process-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 48px;
}

.process-card {
  width: 395px;
  height: 180px;
  padding: 12px 32px 32px 32px;
  border: 1px solid #2325362b;
  /* background-color: #000000; */
}

.process-card-with-shape {
  width: 395px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-card-shape {
  margin-top: -10px;
  width: 395px;
  height: 8px;

  img {
    width: 100%;
    height: 100%;
  }
}

.process-card-with-shape-2 {
  width: 395px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: -18px;
}

.process-card-shape-2 {
  width: 395px;
  height: 8px;

  img {
    width: 100%;
    height: 100%;
  }
}

.process-card-number {
  font-size: 24px;
  line-height: 32px;
  color: #232536;
  font-weight: 600;
  opacity: 20%;
  text-align: end;
  position: relative;
  top: 18px;
}

.process-card-info {
  display: flex;
  column-gap: 16px;
}

.process-card-img {
  width: 47px;
  height: 47px;
}

.process-card-text {
  display: flex;
  flex-direction: column;
  row-gap: 6px;

  h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    color: #000000;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #232536;
  }
}
